body {
    background-color: beige;
}
/* h1의 자매인 모든 h2에 plum 배경색 */
h1 ~ h2 {
    /* background-color: black;  */
}

/* h1의 자매 중 첫번째 h2만 plum 배경색 */
h1 + h2 {
    background-color: plum;
}

/* h1과 h2는 plum 배경색 */
h1,
h2 {
    background-color: plum;
}