main {
    margin: 0 auto; /* 0: top, bottom, auto: right, left */
    margin-top: calc(44px + 100px);
    width: calc(100% - 100px * 2);
}

.container {
    display: flex;
}

.info-groups {
    flex-wrap: wrap;
    min-width: 200px;   /* ... */
    margin: 0 40px;
    gap: 40px;
}

.info,
.review {
    flex-direction: column;
}
.info-group {
    flex-direction: column;
    overflow: hidden;           /* ... */
    gap: 40px;
}
.label {
    color: #777;
}
.title,
.author,
.publisher,
.read-date,
.synopsis,
.phrase {
    font-size: 1.25rem;
    white-space: nowrap;        /* ... */
    overflow: hidden;           /* ... */
    text-overflow: ellipsis;    /* ... */
}

.reviews {
    flex-direction: column;
    margin: 40px 0;
}

.book-image {
    width: 200px;
}
.book-image > img {
    width: 200px;       /* 처음 이미지 너비 */
    min-width: 200px;   /* 너비를 줄여도, 더이상 작아지지 않게 */
    box-shadow: 0 16px 32px #aaa;   /* 책 효과 */
    border-radius: 8px;               /* 책 효과 */
    transition: all 0.4s;             /* 책 애니메이션 */
}
.book-image > img:hover {
    transform: perspective(400px) rotateY(20deg);   /* 책 애니메이션 */
}
.review {
    height: 100px;
}
.synopsis input,
.phrase input {
    width: 100%;
    font-size: 1.25rem;
}

@media screen and (max-width: 540px) {  /* 540px 이하의 너비 이하면 아래 스타일 적용 */
    main {
        margin-top: calc(44px + 40px);
    }
    .image-info-groups {
        flex-direction: column;
    }
    .book-image {
        margin: 0 auto;     /* 책 가운데로 */
    }
    .info-groups {
        margin: 40px 0 0;
    }
}

/* delete me */
/* main div {
    border: 2px solid violet;
}
.book-image {
    background-color: steelblue;
}
.info {
    background-color: magenta;
}
.review {
    background-color: chocolate;
} */