/* mobile */
body {
    background-color: deeppink;
}


/* tablet */
@media screen and (min-width: 541px) {
    body {
        background-color: dodgerblue;
    }
}

/* desktop */
@media screen and (min-width: 721px) {
    body {
        background-color: crimson;
    }
}    
